@charset "UTF-8";
@import "setting.css";
/*반응형, 브라우저 크기가 980px 이하일때*/
body {
  overflow-y: auto;
  background-color: black;
  scroll-behavior: smooth;
}

.bodyabout {
  cursor: url("../css/imgs/mini_w.svg"), auto;
  background-color: black;
  opacity: 0;
  -webkit-animation: ma 0.5s ease-in-out 0.2s forwards;
          animation: ma 0.5s ease-in-out 0.2s forwards;
}
@-webkit-keyframes ma {
  100% {
    opacity: 1;
  }
}
@keyframes ma {
  100% {
    opacity: 1;
  }
}

.aboutheader {
  padding: 5px 0;
  height: 75px;
  z-index: 1;
  position: fixed;
}
.aboutheader .toglebox #check_box {
  display: none;
}
.aboutheader .toglebox #check_box + label {
  position: fixed;
  display: block;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 7;
  top: 35px;
  left: 96px;
}
.aboutheader .toglebox #check_box + label > span {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  transition: all 300ms;
}
.aboutheader .toglebox #check_box:checked + label > span:nth-child(1) {
  top: 50%;
  transform: translate(0, -50%);
  transform: rotate(45deg);
}
.aboutheader .toglebox #check_box + label > span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}
.aboutheader .toglebox #check_box:checked + label > span:nth-child(2) {
  opacity: 0;
}
.aboutheader .toglebox #check_box + label > span:nth-child(3) {
  bottom: 0;
}
.aboutheader .toglebox #check_box:checked + label > span:nth-child(3) {
  top: 50%;
  transform: translate(0, -50%);
  transform: rotate(-45deg);
}
.aboutheader .toglebox #side_menu {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgb(0, 0, 0);
  left: -100vw;
  transition: all 300ms;
  z-index: 6;
  top: 0px;
  padding: 60px 20px 20px 20px;
  box-sizing: border-box;
}
.aboutheader .toglebox #side_menu .list {
  margin-top: 30px;
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: "the02";
}
.aboutheader .toglebox #side_menu .ulbox {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
}
.aboutheader .toglebox #side_menu .ulbox li {
  font-size: 70px;
  font-family: "the02";
}
.aboutheader .toglebox #side_menu .ulbox li a {
  color: #444444;
}
.aboutheader .toglebox #side_menu .ulbox li:hover {
  color: #2C9D54;
}
.aboutheader .toglebox #side_menu .ulbox li:hover .man {
  color: #2C9D54;
}
.aboutheader .toglebox #side_menu .ulbox li:hover .spl {
  color: #F07070;
}
.aboutheader .toglebox #side_menu .ulbox li:hover .wea {
  color: #F7BBCE;
}
.aboutheader .toglebox #side_menu .ulbox li:hover .sue {
  color: #F6C548;
}
.aboutheader .toglebox .active {
  background-color: #2C9D54;
  left: 0;
}
.aboutheader .toglebox #check_box:checked + label + #side_menu {
  left: 0;
}
.aboutheader .lobox {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 30px;
  left: 160px;
}
.aboutheader .lobox .logow {
  width: 25px;
  display: block;
}
.aboutheader nav {
  position: fixed;
  right: 0;
  top: 42px;
  display: flex;
  justify-content: flex-end;
  padding-right: 75px;
  font-size: 20px;
  gap: 25px;
  margin-right: 40px;
}
.aboutheader nav a {
  color: white;
  font-family: "the01";
}

.aboutmain {
  background-color: black;
  color: white;
}
.aboutmain .section11 {
  margin-top: 75px;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aboutmain .section11 ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.aboutmain .section11 ::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}
.aboutmain .section11 .section11_1 .fix {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}
.aboutmain .section11 .section11_1 .fix .title11 {
  height: 400px;
  font-family: "the02";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.aboutmain .section11 .section11_1 .fix .title11 .bigtitle {
  font-family: "the01";
  font-size: 55px;
  display: flex;
  align-items: center;
  width: 34ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  -webkit-animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.aboutmain .section11 .section11_1 .fix .title11 .bigtitle img {
  margin: 0 10px;
}
.aboutmain .section11 .section11_1 .fix .title11 .bigp {
  opacity: 0;
  -webkit-animation: mon 1s alternate forwards ease-in-out;
          animation: mon 1s alternate forwards ease-in-out;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}
@-webkit-keyframes mon {
  100% {
    opacity: 1;
  }
}
@keyframes mon {
  100% {
    opacity: 1;
  }
}
.aboutmain .section11 .section11_1 .fix .title11 .bigp .minititle {
  font-family: "the01";
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.aboutmain .section11 .section11_1 .fix .title11 .bigp .minititle img {
  width: 3%;
  -webkit-animation: mig 6s linear infinite;
          animation: mig 6s linear infinite;
  transform-origin: 50% 50%;
}
@-webkit-keyframes mig {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes mig {
  100% {
    transform: rotate(-360deg);
  }
}
.aboutmain .section11 .section11_1 .fix .title11 .bigp .writing11 {
  font-size: 27px;
  padding: 30px 0;
}
.aboutmain .section11 .section11_1 .fix .title11 .bigp .writing12 {
  font-size: 27px;
}
.aboutmain .section11 .section11_1 .fix .detail11 {
  width: 100%;
  display: flex;
  font-family: "the02";
  justify-content: center;
  align-items: flex-end;
  gap: 120px;
  opacity: 0;
  -webkit-animation: mon 1s alternate ease-in-out forwards;
          animation: mon 1s alternate ease-in-out forwards;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}
@keyframes mon {
  100% {
    opacity: 1;
  }
}
.aboutmain .section11 .section11_1 .fix .detail11 h2 {
  font-size: 27px;
  font-family: "the01";
}
.aboutmain .section11 .section11_1 .fix .detail11 h3 {
  font-size: 17px;
}
.aboutmain .section11 .section11_1 .fix .detail11 .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.aboutmain .section11 .section11_1 .fix .detail11 .meimg {
  width: 30%;
  position: relative;
}
.aboutmain .section11 .section11_1 .fix .detail11 .meimg .me {
  width: 100%;
  position: relative;
  z-index: 1;
  border: 2px solid;
  border-radius: 200px 200px 0 0;
}
.aboutmain .section11 .section11_1 .fix .detail11 .meimg .line01 {
  position: absolute;
  width: 500px;
  height: 280px;
  border-radius: 60%;
  border: 1px solid;
  top: 6rem;
  left: -5rem;
  transform: rotate(-20deg);
  -webkit-animation: hh2 5s ease-in-out infinite;
          animation: hh2 5s ease-in-out infinite;
}
@-webkit-keyframes hh2 {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}
@keyframes hh2 {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}
.aboutmain .section11 .section11_1 .fix .detail11 .meimg .line02 {
  position: absolute;
  width: 500px;
  height: 280px;
  border-radius: 60%;
  border: 1px solid;
  top: 3rem;
  left: -5rem;
  transform: rotate(-20deg);
  -webkit-animation: hh3 5s ease-in-out infinite;
          animation: hh3 5s ease-in-out infinite;
}
@-webkit-keyframes hh3 {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
}
@keyframes hh3 {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
}
.aboutmain .section11 .section11_1 .fix .detail11 .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.aboutmain .section11 .section11_1 .floating {
  position: relative;
  opacity: 0;
  -webkit-animation: mon 1s alternate forwards ease-in-out;
          animation: mon 1s alternate forwards ease-in-out;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}
@keyframes mon {
  100% {
    opacity: 1;
  }
}
.aboutmain .section11 .section11_1 .floating .flo01 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4745098039) 0%, rgba(0, 0, 0, 0.884) 100%);
  left: 0;
  top: -21rem;
  -webkit-animation: blink-effect 3s ease-in-out alternate infinite;
          animation: blink-effect 3s ease-in-out alternate infinite;
}
@-webkit-keyframes blink-effect {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-effect {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.aboutmain .section11 .section11_1 .floating .flo02 {
  position: absolute;
  width: 50px;
  height: 189px;
  border-radius: 25px;
  border: 1px solid;
  left: -16rem;
  top: -5rem;
  -webkit-animation: effect01 6s linear infinite;
          animation: effect01 6s linear infinite;
  transform-origin: 50% 50%;
}
@-webkit-keyframes effect01 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes effect01 {
  100% {
    transform: rotate(360deg);
  }
}
.aboutmain .section11 .section11_1 .floating .flo03 {
  position: absolute;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid;
  left: 0;
  top: -20rem;
  -webkit-animation: effect02 6s linear infinite;
          animation: effect02 6s linear infinite;
  transform-origin: 50% 50%;
}
@-webkit-keyframes effect02 {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes effect02 {
  100% {
    transform: rotate(-360deg);
  }
}
.aboutmain .section11 .section11_1 .floating .flo04 {
  position: absolute;
  width: 50px;
  height: 190px;
  border-radius: 25px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4745098039) 0%, rgba(0, 0, 0, 0.884) 100%);
  right: -10rem;
  top: -30rem;
  -webkit-animation: blink-effect 3s ease-in-out alternate infinite;
          animation: blink-effect 3s ease-in-out alternate infinite;
}
@keyframes blink-effect {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.aboutmain .section11 .section11_1 .floating .flo05 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid;
  right: 11rem;
  top: -11rem;
}
.aboutmain .section11 .section11_1 .floating .flo06 {
  position: absolute;
  width: 50px;
  height: 189px;
  border-radius: 25px;
  border: 1px solid;
  left: -16rem;
  top: -5rem;
}
.aboutmain .section11 .section11_1 .floating .flo07 {
  position: absolute;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4745098039) 0%, rgba(0, 0, 0, 0.884) 100%);
  right: 9rem;
  top: -10rem;
  -webkit-animation: effect02 6s linear infinite;
          animation: effect02 6s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes effect02 {
  100% {
    transform: rotate(-360deg);
  }
}
.aboutmain .section13 {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.aboutmain .section13 .big_title {
  margin: 30px 50px 0 50px;
}
.aboutmain .section13 .big_title .goebox {
  width: 50px;
  height: 50px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  position: relative;
}
.aboutmain .section13 .big_title .goebox .logoe {
  width: 27px;
  display: block;
}
.aboutmain .section13 .big_title h1 {
  font-size: 200px;
  font-weight: 900;
}
.aboutmain .section13 .big_title h1::before {
  content: "";
  width: 1000px;
  height: 300px;
  border: 3px solid black;
  opacity: 50%;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -60px;
  left: -285px;
  transform: rotate(7deg);
  -webkit-animation: hh2 5s ease-in-out infinite;
          animation: hh2 5s ease-in-out infinite;
}
@keyframes hh2 {
  0% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(7deg);
  }
}
.aboutmain .section13 .big_title h1::after {
  content: "";
  width: 1000px;
  height: 300px;
  border: 2px solid rgb(0, 0, 0);
  opacity: 70%;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -60px;
  left: -285px;
}
.aboutmain .section13 .sm_title {
  width: 90vw;
  margin: 80px auto;
}
.aboutmain .section13 .sm_title h2 {
  font-family: "the02";
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: 80px;
}
.aboutmain .section13 .sm_title .paragraph01 {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}
.aboutmain .section13 .sm_title .paragraph01 .HC {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.aboutmain .section13 .sm_title .paragraph01 .HC .HTML {
  font-family: "the02";
  position: relative;
  background-color: #424242;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(18px);
}
.aboutmain .section13 .sm_title .paragraph01 .HC .HTML:hover {
  background-color: white;
  color: black;
}
.aboutmain .section13 .sm_title .paragraph01 .HC .HTML:hover .number_01 {
  text-shadow: none;
}
.aboutmain .section13 .sm_title .paragraph01 .HC .HTML:hover .text_01 {
  background-color: white;
}
.aboutmain .section13 .sm_title .paragraph01 .HC .HTML .number_01 {
  font-size: 220px;
  font-weight: 900;
  color: #FF9900;
  transform: translateX(20px);
}
.aboutmain .section13 .sm_title .paragraph01 .HC .HTML .text_01 {
  background-color: #424242;
  font-size: 80px;
  font-weight: 900;
  transform: translateY(-75px);
  width: 280px;
  text-align: center;
}
.aboutmain .section13 .sm_title .paragraph01 .HC .HTML ul {
  gap: 10px;
  display: inline-grid;
  text-align: center;
  transform: translateY(-2rem);
}
.aboutmain .section13 .sm_title .paragraph01 .HC .HTML ul li {
  font-size: 20px;
}
.aboutmain .section13 .sm_title .paragraph01 .HC .CSS {
  font-family: "the02";
  position: relative;
  background-color: #424242;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutmain .section13 .sm_title .paragraph01 .HC .CSS:hover {
  background-color: white;
  color: black;
}
.aboutmain .section13 .sm_title .paragraph01 .HC .CSS:hover .number_02 {
  text-shadow: none;
}
.aboutmain .section13 .sm_title .paragraph01 .HC .CSS:hover .text_02 {
  background-color: white;
}
.aboutmain .section13 .sm_title .paragraph01 .HC .CSS .number_02 {
  font-size: 220px;
  font-weight: 900;
  color: #438EFF;
}
.aboutmain .section13 .sm_title .paragraph01 .HC .CSS .text_02 {
  background-color: #424242;
  font-size: 80px;
  font-weight: 900;
  transform: translateY(-75px);
  width: 280px;
  text-align: center;
}
.aboutmain .section13 .sm_title .paragraph01 .HC .CSS ul {
  gap: 10px;
  display: inline-grid;
  text-align: center;
  transform: translateY(-2rem);
}
.aboutmain .section13 .sm_title .paragraph01 .HC .CSS ul li {
  font-size: 20px;
}
.aboutmain .section13 .sm_title .paragraph01 .JR {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.aboutmain .section13 .sm_title .paragraph01 .JR .JS {
  font-family: "the02";
  position: relative;
  background-color: #424242;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutmain .section13 .sm_title .paragraph01 .JR .JS:hover {
  background-color: white;
  color: black;
}
.aboutmain .section13 .sm_title .paragraph01 .JR .JS:hover .number_03 {
  text-shadow: none;
}
.aboutmain .section13 .sm_title .paragraph01 .JR .JS:hover .text_03 {
  background-color: white;
}
.aboutmain .section13 .sm_title .paragraph01 .JR .JS .number_03 {
  font-size: 220px;
  font-weight: 900;
  color: #FBDB34;
}
.aboutmain .section13 .sm_title .paragraph01 .JR .JS .text_03 {
  background-color: #424242;
  font-size: 80px;
  font-weight: 900;
  transform: translateY(-75px);
  width: 280px;
  text-align: center;
}
.aboutmain .section13 .sm_title .paragraph01 .JR .JS ul {
  gap: 10px;
  display: inline-grid;
  text-align: center;
  transform: translateY(-2rem);
}
.aboutmain .section13 .sm_title .paragraph01 .JR .JS ul li {
  font-size: 20px;
}
.aboutmain .section13 .sm_title .paragraph01 .JR .REACT {
  font-family: "the02";
  position: relative;
  background-color: #424242;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutmain .section13 .sm_title .paragraph01 .JR .REACT:hover {
  background-color: white;
  color: black;
}
.aboutmain .section13 .sm_title .paragraph01 .JR .REACT:hover .number_04 {
  text-shadow: none;
}
.aboutmain .section13 .sm_title .paragraph01 .JR .REACT:hover .text_04 {
  background-color: white;
}
.aboutmain .section13 .sm_title .paragraph01 .JR .REACT .number_04 {
  font-size: 220px;
  font-weight: 900;
  color: #00F0FF;
}
.aboutmain .section13 .sm_title .paragraph01 .JR .REACT .text_04 {
  background-color: #424242;
  font-size: 80px;
  font-weight: 900;
  transform: translateY(-75px);
  width: 280px;
  text-align: center;
}
.aboutmain .section13 .sm_title .paragraph01 .JR .REACT ul {
  gap: 10px;
  display: inline-grid;
  text-align: center;
  transform: translateY(-2rem);
}
.aboutmain .section13 .sm_title .paragraph01 .JR .REACT ul li {
  font-size: 20px;
}
.aboutmain .section13 .se_title {
  width: 90vw;
  margin: 80px auto;
  height: 60vh;
}
.aboutmain .section13 .se_title h2 {
  font-family: "the02";
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: 80px;
}
.aboutmain .section13 .se_title .paragraph02 {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  width: 75%;
}
.aboutmain .section13 .se_title .paragraph02 .DS {
  width: 65%;
  display: flex;
  justify-content: space-around;
}
.aboutmain .section13 .se_title .paragraph02 .DS .DEPLOY {
  font-family: "the02";
  position: relative;
  background-color: #424242;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutmain .section13 .se_title .paragraph02 .DS .DEPLOY:hover {
  background-color: white;
  color: black;
}
.aboutmain .section13 .se_title .paragraph02 .DS .DEPLOY:hover .number_05 {
  text-shadow: none;
}
.aboutmain .section13 .se_title .paragraph02 .DS .DEPLOY:hover .text_05 {
  background-color: white;
}
.aboutmain .section13 .se_title .paragraph02 .DS .DEPLOY .number_05 {
  font-size: 220px;
  font-weight: 900;
  color: #B200DE;
}
.aboutmain .section13 .se_title .paragraph02 .DS .DEPLOY .text_05 {
  background-color: #424242;
  font-size: 70px;
  font-weight: 900;
  transform: translateY(-75px);
  width: 280px;
  text-align: center;
}
.aboutmain .section13 .se_title .paragraph02 .DS .DEPLOY ul {
  gap: 10px;
  display: inline-grid;
  text-align: center;
  transform: translateY(-2rem);
}
.aboutmain .section13 .se_title .paragraph02 .DS .DEPLOY ul li {
  font-size: 20px;
}
.aboutmain .section13 .se_title .paragraph02 .DS .SOFT {
  font-family: "the02";
  position: relative;
  background-color: #424242;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutmain .section13 .se_title .paragraph02 .DS .SOFT:hover {
  background-color: white;
  color: black;
}
.aboutmain .section13 .se_title .paragraph02 .DS .SOFT:hover .number_06 {
  text-shadow: none;
}
.aboutmain .section13 .se_title .paragraph02 .DS .SOFT:hover .text_06 {
  background-color: white;
}
.aboutmain .section13 .se_title .paragraph02 .DS .SOFT .number_06 {
  font-size: 220px;
  font-weight: 900;
  color: #FF429D;
}
.aboutmain .section13 .se_title .paragraph02 .DS .SOFT .text_06 {
  background-color: #424242;
  font-size: 75px;
  font-weight: 900;
  transform: translateY(-75px);
  width: 280px;
  text-align: center;
}
.aboutmain .section13 .se_title .paragraph02 .DS .SOFT ul {
  gap: 10px;
  display: inline-grid;
  text-align: center;
  transform: translateY(-2rem);
}
.aboutmain .section13 .se_title .paragraph02 .DS .SOFT ul li {
  font-size: 20px;
}
.aboutmain .section13 .se_title .paragraph02 .M {
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.aboutmain .section13 .se_title .paragraph02 .M .MORE {
  font-family: "the02";
  position: relative;
  background-color: #424242;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutmain .section13 .se_title .paragraph02 .M .MORE:hover {
  background-color: white;
  color: black;
}
.aboutmain .section13 .se_title .paragraph02 .M .MORE:hover .number_07 {
  text-shadow: none;
}
.aboutmain .section13 .se_title .paragraph02 .M .MORE:hover .text_07 {
  background-color: white;
}
.aboutmain .section13 .se_title .paragraph02 .M .MORE .number_07 {
  font-size: 220px;
  font-weight: 900;
  color: #61EC4B;
}
.aboutmain .section13 .se_title .paragraph02 .M .MORE .text_07 {
  background-color: #424242;
  font-size: 80px;
  font-weight: 900;
  transform: translateY(-75px);
  width: 280px;
  text-align: center;
}
.aboutmain .section13 .se_title .paragraph02 .M .MORE ul {
  gap: 10px;
  display: inline-grid;
  text-align: center;
  transform: translateY(-2rem);
}
.aboutmain .section13 .se_title .paragraph02 .M .MORE ul li {
  font-size: 20px;
}
.aboutmain .section13 .section02a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  right: 0;
  bottom: 140px;
  width: 15%;
}
.aboutmain .section13 .section02a .paragraphbox {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 140px;
}
.aboutmain .section13 .section02a .paragraphbox .memoji01 {
  width: 200px;
}
.aboutmain .section13 .section02a .paragraphbox .noi {
  width: 700px;
  height: 100px;
}
.aboutmain .section13 .section02a .email {
  font-family: "the01";
  font-size: 30px;
}
.aboutmain .section13 .section02a .dvmail .bail {
  background-color: #FFD600;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutmain .section13 .section02a .dvmail .mail {
  font-family: "the02";
  position: absolute;
  right: 23px;
  top: 70px;
  font-size: 20px;
}

@media (max-width: 414px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .aboutheader {
    padding: 5px 0;
    height: 75px;
    z-index: 1;
    position: fixed;
  }
  .aboutheader .toglebox #check_box {
    display: none;
  }
  .aboutheader .toglebox #check_box + label {
    position: fixed;
    display: block;
    width: 25px;
    height: 23px;
    cursor: pointer;
    z-index: 7;
    top: 35px;
    left: 24px;
  }
  .aboutheader .toglebox #check_box + label > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all 300ms;
  }
  .aboutheader .toglebox #check_box:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(45deg);
  }
  .aboutheader .toglebox #check_box + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
  }
  .aboutheader .toglebox #check_box:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  .aboutheader .toglebox #check_box + label > span:nth-child(3) {
    bottom: 0;
  }
  .aboutheader .toglebox #check_box:checked + label > span:nth-child(3) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(-45deg);
  }
  .aboutheader .toglebox #side_menu {
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 0);
    left: -100vw;
    transition: all 300ms;
    z-index: 6;
    top: 0px;
    padding: 60px 20px 20px 20px;
    box-sizing: border-box;
  }
  .aboutheader .toglebox #side_menu .list {
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: "the02";
  }
  .aboutheader .toglebox #side_menu .ulbox {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
  }
  .aboutheader .toglebox #side_menu .ulbox li {
    font-size: 40px;
    font-family: "the02";
  }
  .aboutheader .toglebox #side_menu .ulbox li a {
    color: #444444;
  }
  .aboutheader .toglebox #side_menu .ulbox li:hover {
    color: #2C9D54;
  }
  .aboutheader .toglebox #side_menu .ulbox li:hover .man {
    color: #2C9D54;
  }
  .aboutheader .toglebox #side_menu .ulbox li:hover .spl {
    color: #F07070;
  }
  .aboutheader .toglebox #side_menu .ulbox li:hover .wea {
    color: #F7BBCE;
  }
  .aboutheader .toglebox #side_menu .ulbox li:hover .sue {
    color: #F6C548;
  }
  .aboutheader .toglebox .active {
    background-color: #2C9D54;
    left: 0;
  }
  .aboutheader .toglebox #check_box:checked + label + #side_menu {
    left: 0;
  }
  .aboutheader .lobox {
    width: 32px;
    height: 32px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 32px;
    left: 66px;
  }
  .aboutheader .lobox .logow {
    width: 17px;
    display: block;
  }
  .aboutheader nav {
    position: fixed;
    right: 68rem;
    top: 42px;
    display: flex;
    justify-content: flex-end;
    padding-right: 75px;
    font-size: 20px;
    gap: 25px;
    margin-right: 40px;
  }
  .aboutheader nav a {
    color: white;
    font-family: "the01";
  }
  .aboutmain {
    background-color: rgba(244, 245, 247, 0.6784313725);
    color: black;
  }
  .aboutmain .section11 {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
  }
  .aboutmain .section11 .section11_1 .fix {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    margin-top: 30px;
  }
  .aboutmain .section11 .section11_1 .fix .title11 {
    height: 400px;
    font-family: "the02";
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .aboutmain .section11 .section11_1 .fix .title11 .bigtitle {
    font-family: "the01";
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: none;
    width: 30ch;
  }
  .aboutmain .section11 .section11_1 .fix .title11 .bigtitle img {
    width: 20%;
    margin: 10px;
  }
  .aboutmain .section11 .section11_1 .fix .title11 .bigp {
    opacity: 0;
    -webkit-animation: mon 1s alternate forwards ease-in-out;
            animation: mon 1s alternate forwards ease-in-out;
    -webkit-animation-delay: 2.3s;
            animation-delay: 2.3s;
  }
  @-webkit-keyframes mon {
    100% {
      opacity: 1;
    }
  }
  @keyframes mon {
    100% {
      opacity: 1;
    }
  }
  .aboutmain .section11 .section11_1 .fix .title11 .bigp .minititle {
    font-family: "the01";
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    margin-left: 27px;
  }
  .aboutmain .section11 .section11_1 .fix .title11 .bigp .minititle img {
    width: 3%;
    -webkit-animation: mig 6s linear infinite;
            animation: mig 6s linear infinite;
    transform-origin: 50% 50%;
  }
  @-webkit-keyframes mig {
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes mig {
    100% {
      transform: rotate(-360deg);
    }
  }
  .aboutmain .section11 .section11_1 .fix .title11 .bigp .writing11 {
    font-size: 13px;
    padding: 30px 0;
  }
  .aboutmain .section11 .section11_1 .fix .title11 .bigp .writing12 {
    font-size: 13px;
  }
  .aboutmain .section11 .section11_1 .fix .detail11 {
    margin-top: 30px;
    width: 100%;
    display: flex;
    font-family: "the02";
    justify-content: center;
    align-items: flex-end;
    gap: 120px;
    opacity: 0;
    -webkit-animation: mon 1s alternate ease-in-out forwards;
            animation: mon 1s alternate ease-in-out forwards;
    -webkit-animation-delay: 2.3s;
            animation-delay: 2.3s;
  }
  @keyframes mon {
    100% {
      opacity: 1;
    }
  }
  .aboutmain .section11 .section11_1 .fix .detail11 h2 {
    font-size: 20px;
    font-family: "the01";
  }
  .aboutmain .section11 .section11_1 .fix .detail11 h3 {
    font-size: 15px;
  }
  .aboutmain .section11 .section11_1 .fix .detail11 .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translate(14rem, -15rem);
  }
  .aboutmain .section11 .section11_1 .fix .detail11 .meimg {
    width: 30%;
    position: relative;
  }
  .aboutmain .section11 .section11_1 .fix .detail11 .meimg .me {
    width: 90%;
    position: relative;
    z-index: 1;
    bottom: -4rem;
  }
  .aboutmain .section11 .section11_1 .fix .detail11 .meimg .line01 {
    position: absolute;
    width: 400px;
    height: 200px;
    border-radius: 60%;
    border: 1px solid;
    top: 6rem;
    left: -5.7rem;
    transform: rotate(-20deg);
    -webkit-animation: hh2 5s ease-in-out infinite;
            animation: hh2 5s ease-in-out infinite;
  }
  @-webkit-keyframes hh2 {
    0% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(-20deg);
    }
  }
  @keyframes hh2 {
    0% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(-20deg);
    }
  }
  .aboutmain .section11 .section11_1 .fix .detail11 .meimg .line02 {
    position: absolute;
    width: 400px;
    height: 200px;
    border-radius: 60%;
    border: 1px solid;
    top: 6rem;
    left: -5.7rem;
    transform: rotate(-20deg);
    -webkit-animation: hh3 5s ease-in-out infinite;
            animation: hh3 5s ease-in-out infinite;
  }
  @-webkit-keyframes hh3 {
    0% {
      transform: rotate(-20deg);
    }
    50% {
      transform: rotate(20deg);
    }
  }
  @keyframes hh3 {
    0% {
      transform: rotate(-20deg);
    }
    50% {
      transform: rotate(20deg);
    }
  }
  .aboutmain .section11 .section11_1 .fix .detail11 .name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translate(-15rem, -15rem);
  }
  .aboutmain .section11 .section11_1 .floating {
    position: relative;
    opacity: 0;
    -webkit-animation: mon 1s alternate forwards ease-in-out;
            animation: mon 1s alternate forwards ease-in-out;
    -webkit-animation-delay: 2.3s;
            animation-delay: 2.3s;
    display: none;
  }
  @keyframes mon {
    100% {
      opacity: 1;
    }
  }
  .aboutmain .section11 .section11_1 .floating .flo01 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4745098039) 0%, rgba(0, 0, 0, 0.884) 100%);
    left: 0;
    top: -21rem;
    -webkit-animation: blink-effect 3s ease-in-out alternate infinite;
            animation: blink-effect 3s ease-in-out alternate infinite;
  }
  @-webkit-keyframes blink-effect {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink-effect {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  .aboutmain .section11 .section11_1 .floating .flo02 {
    position: absolute;
    width: 50px;
    height: 189px;
    border-radius: 25px;
    border: 1px solid;
    left: -16rem;
    top: -5rem;
    -webkit-animation: effect01 6s linear infinite;
            animation: effect01 6s linear infinite;
    transform-origin: 50% 50%;
  }
  @-webkit-keyframes effect01 {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes effect01 {
    100% {
      transform: rotate(360deg);
    }
  }
  .aboutmain .section11 .section11_1 .floating .flo03 {
    position: absolute;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid;
    left: 0;
    top: -20rem;
    -webkit-animation: effect02 6s linear infinite;
            animation: effect02 6s linear infinite;
    transform-origin: 50% 50%;
  }
  @-webkit-keyframes effect02 {
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes effect02 {
    100% {
      transform: rotate(-360deg);
    }
  }
  .aboutmain .section11 .section11_1 .floating .flo04 {
    position: absolute;
    width: 50px;
    height: 190px;
    border-radius: 25px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4745098039) 0%, rgba(0, 0, 0, 0.884) 100%);
    right: -10rem;
    top: -30rem;
    -webkit-animation: blink-effect 3s ease-in-out alternate infinite;
            animation: blink-effect 3s ease-in-out alternate infinite;
  }
  @keyframes blink-effect {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  .aboutmain .section11 .section11_1 .floating .flo05 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid;
    right: 11rem;
    top: -11rem;
  }
  .aboutmain .section11 .section11_1 .floating .flo06 {
    position: absolute;
    width: 50px;
    height: 189px;
    border-radius: 25px;
    border: 1px solid;
    left: -16rem;
    top: -5rem;
  }
  .aboutmain .section11 .section11_1 .floating .flo07 {
    position: absolute;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4745098039) 0%, rgba(0, 0, 0, 0.884) 100%);
    right: 9rem;
    top: -10rem;
    -webkit-animation: effect02 6s linear infinite;
            animation: effect02 6s linear infinite;
    transform-origin: 50% 50%;
  }
  @keyframes effect02 {
    100% {
      transform: rotate(-360deg);
    }
  }
  .aboutmain .section13 {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 160vh;
  }
  .aboutmain .section13 .big_title {
    margin: 30px 50px 0 50px;
  }
  .aboutmain .section13 .big_title .goebox {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    position: relative;
  }
  .aboutmain .section13 .big_title .goebox .logoe {
    width: 27px;
    display: block;
  }
  .aboutmain .section13 .big_title h1 {
    font-size: 100px;
    font-weight: 900;
    position: relative;
    left: -3rem;
  }
  .aboutmain .section13 .big_title h1::before {
    content: "";
    width: 500px;
    height: 200px;
    border: 3px solid black;
    opacity: 50%;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0px;
    left: -209px;
    transform: rotate(7deg);
    -webkit-animation: hh2 5s ease-in-out infinite;
            animation: hh2 5s ease-in-out infinite;
  }
  @keyframes hh2 {
    0% {
      transform: rotate(7deg);
    }
    50% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(7deg);
    }
  }
  .aboutmain .section13 .big_title h1::after {
    content: "";
    width: 500px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
    opacity: 70%;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0px;
    left: -209px;
  }
  .aboutmain .section13 .sm_title {
    width: 90vw;
    margin: 80px auto;
  }
  .aboutmain .section13 .sm_title h2 {
    font-family: "the02";
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 80px;
  }
  .aboutmain .section13 .sm_title .paragraph01 {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 500px;
  }
  .aboutmain .section13 .sm_title .paragraph01 .HC {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .aboutmain .section13 .sm_title .paragraph01 .HC .HTML {
    font-family: "the02";
    position: relative;
    background-color: #F4F5F7;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(0px);
  }
  .aboutmain .section13 .sm_title .paragraph01 .HC .HTML:hover .number_01 {
    text-shadow: none;
    color: #FF9900;
  }
  .aboutmain .section13 .sm_title .paragraph01 .HC .HTML .number_01 {
    font-size: 100px;
    font-weight: 900;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    color: #F4F5F7;
    transform: translateX(9px);
  }
  .aboutmain .section13 .sm_title .paragraph01 .HC .HTML .text_01 {
    background-color: #F4F5F7;
    font-size: 40px;
    font-weight: 900;
    transform: translateY(-44px);
    width: 150px;
    text-align: center;
  }
  .aboutmain .section13 .sm_title .paragraph01 .HC .HTML ul {
    gap: 10px;
    display: inline-grid;
    text-align: center;
    transform: translateY(-2rem);
  }
  .aboutmain .section13 .sm_title .paragraph01 .HC .HTML ul li {
    font-size: 12px;
  }
  .aboutmain .section13 .sm_title .paragraph01 .HC .CSS {
    font-family: "the02";
    position: relative;
    background-color: #F4F5F7;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .aboutmain .section13 .sm_title .paragraph01 .HC .CSS:hover .number_02 {
    text-shadow: none;
    color: #438EFF;
  }
  .aboutmain .section13 .sm_title .paragraph01 .HC .CSS .number_02 {
    font-size: 100px;
    font-weight: 900;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    color: #F4F5F7;
  }
  .aboutmain .section13 .sm_title .paragraph01 .HC .CSS .text_02 {
    background-color: #F4F5F7;
    font-size: 40px;
    font-weight: 900;
    transform: translateY(-44px);
    width: 150px;
    text-align: center;
  }
  .aboutmain .section13 .sm_title .paragraph01 .HC .CSS ul {
    gap: 10px;
    display: inline-grid;
    text-align: center;
    transform: translateY(-2rem);
  }
  .aboutmain .section13 .sm_title .paragraph01 .HC .CSS ul li {
    font-size: 12px;
  }
  .aboutmain .section13 .sm_title .paragraph01 .JR {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .aboutmain .section13 .sm_title .paragraph01 .JR .JS {
    font-family: "the02";
    position: relative;
    background-color: #F4F5F7;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .aboutmain .section13 .sm_title .paragraph01 .JR .JS:hover .number_03 {
    text-shadow: none;
    color: #FBDB34;
  }
  .aboutmain .section13 .sm_title .paragraph01 .JR .JS .number_03 {
    font-size: 100px;
    font-weight: 900;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    color: #F4F5F7;
  }
  .aboutmain .section13 .sm_title .paragraph01 .JR .JS .text_03 {
    background-color: #F4F5F7;
    font-size: 40px;
    font-weight: 900;
    transform: translateY(-44px);
    width: 150px;
    text-align: center;
  }
  .aboutmain .section13 .sm_title .paragraph01 .JR .JS ul {
    gap: 10px;
    display: inline-grid;
    text-align: center;
    transform: translateY(-2rem);
  }
  .aboutmain .section13 .sm_title .paragraph01 .JR .JS ul li {
    font-size: 12px;
  }
  .aboutmain .section13 .sm_title .paragraph01 .JR .REACT {
    font-family: "the02";
    position: relative;
    background-color: #F4F5F7;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .aboutmain .section13 .sm_title .paragraph01 .JR .REACT:hover .number_04 {
    text-shadow: none;
    color: #00F0FF;
  }
  .aboutmain .section13 .sm_title .paragraph01 .JR .REACT .number_04 {
    font-size: 100px;
    font-weight: 900;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    color: #F4F5F7;
  }
  .aboutmain .section13 .sm_title .paragraph01 .JR .REACT .text_04 {
    background-color: #F4F5F7;
    font-size: 40px;
    font-weight: 900;
    transform: translateY(-44px);
    width: 150px;
    text-align: center;
  }
  .aboutmain .section13 .sm_title .paragraph01 .JR .REACT ul {
    gap: 10px;
    display: inline-grid;
    text-align: center;
    transform: translateY(-2rem);
  }
  .aboutmain .section13 .sm_title .paragraph01 .JR .REACT ul li {
    font-size: 12px;
  }
  .aboutmain .section13 .se_title {
    width: 90vw;
    margin: 80px auto;
    height: 60vh;
  }
  .aboutmain .section13 .se_title h2 {
    font-family: "the02";
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 50px;
  }
  .aboutmain .section13 .se_title .paragraph02 {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 500px;
  }
  .aboutmain .section13 .se_title .paragraph02 .DS {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .aboutmain .section13 .se_title .paragraph02 .DS .DEPLOY {
    font-family: "the02";
    position: relative;
    background-color: #F4F5F7;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutmain .section13 .se_title .paragraph02 .DS .DEPLOY:hover .number_05 {
    text-shadow: none;
    color: #B200DE;
  }
  .aboutmain .section13 .se_title .paragraph02 .DS .DEPLOY .number_05 {
    font-size: 100px;
    font-weight: 900;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    color: #F4F5F7;
  }
  .aboutmain .section13 .se_title .paragraph02 .DS .DEPLOY .text_05 {
    background-color: #F4F5F7;
    font-size: 40px;
    font-weight: 900;
    transform: translateY(-44px);
    width: 150px;
    text-align: center;
  }
  .aboutmain .section13 .se_title .paragraph02 .DS .DEPLOY ul {
    gap: 10px;
    display: inline-grid;
    text-align: center;
    transform: translateY(-2rem);
  }
  .aboutmain .section13 .se_title .paragraph02 .DS .DEPLOY ul li {
    font-size: 12px;
  }
  .aboutmain .section13 .se_title .paragraph02 .DS .SOFT {
    font-family: "the02";
    position: relative;
    background-color: #F4F5F7;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .aboutmain .section13 .se_title .paragraph02 .DS .SOFT:hover .number_06 {
    text-shadow: none;
    color: #FF429D;
  }
  .aboutmain .section13 .se_title .paragraph02 .DS .SOFT .number_06 {
    font-size: 100px;
    font-weight: 900;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    color: #F4F5F7;
  }
  .aboutmain .section13 .se_title .paragraph02 .DS .SOFT .text_06 {
    background-color: #F4F5F7;
    font-size: 40px;
    font-weight: 900;
    transform: translateY(-44px);
    width: 150px;
    text-align: center;
  }
  .aboutmain .section13 .se_title .paragraph02 .DS .SOFT ul {
    gap: 10px;
    display: inline-grid;
    text-align: center;
    transform: translateY(-2rem);
  }
  .aboutmain .section13 .se_title .paragraph02 .DS .SOFT ul li {
    font-size: 12px;
  }
  .aboutmain .section13 .se_title .paragraph02 .M {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .aboutmain .section13 .se_title .paragraph02 .M .MORE {
    font-family: "the02";
    position: relative;
    background-color: #F4F5F7;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutmain .section13 .se_title .paragraph02 .M .MORE:hover .number_07 {
    text-shadow: none;
    color: #61EC4B;
  }
  .aboutmain .section13 .se_title .paragraph02 .M .MORE .number_07 {
    font-size: 100px;
    font-weight: 900;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    color: #F4F5F7;
  }
  .aboutmain .section13 .se_title .paragraph02 .M .MORE .text_07 {
    background-color: #F4F5F7;
    font-size: 40px;
    font-weight: 900;
    transform: translateY(-44px);
    width: 280px;
    text-align: center;
  }
  .aboutmain .section13 .se_title .paragraph02 .M .MORE ul {
    gap: 10px;
    display: inline-grid;
    text-align: center;
    transform: translateY(-2rem);
  }
  .aboutmain .section13 .se_title .paragraph02 .M .MORE ul li {
    font-size: 12px;
  }
  .aboutmain .section13 .section02a {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 10rem;
    bottom: 140px;
    width: 15%;
  }
  .aboutmain .section13 .section02a .paragraphbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 140px;
  }
  .aboutmain .section13 .section02a .paragraphbox .memoji01 {
    width: 200px;
  }
  .aboutmain .section13 .section02a .paragraphbox .noi {
    width: 700px;
    height: 100px;
  }
  .aboutmain .section13 .section02a .email {
    font-family: "the01";
    font-size: 30px;
  }
  .aboutmain .section13 .section02a .dvmail .bail {
    background-color: #FFD600;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutmain .section13 .section02a .dvmail .mail {
    font-family: "the02";
    position: absolute;
    right: -4rem;
    top: 70px;
    font-size: 20px;
  }
}/*# sourceMappingURL=About.css.map */