header {
    padding: 0;
    height: 0;
}

.bodycolor02 {
    background-color: #C75E5E;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    position: relative;
    cursor: url("../css/imgs/mini_b.svg"), auto;

    .colorbak02 {
        position: relative;

        .pone {
            margin-top: 130px;
            z-index: 2;
            position: relative;
            left: 35rem;

            img {
                width: 390px;
            }
        }

        video {
            position: absolute;
            z-index: 2;
            left: 621px;
            top: 3.1rem;
            border-radius: 31px;
            width: 270px;

        }

        .backslid02 {
            position: absolute;
            transform: rotate(-6deg) translateY(-54rem);
            z-index: -1;

            h1 {
                font-size: 250px;
                font-weight: bold;
                color: #944343;
                white-space: nowrap;
                position: relative;
                transform: translateX(-51%);
                animation: move 15s linear infinite;

                @keyframes move {
                    0% {
                        transform: translateX(-51%);
                    }

                    100% {
                        transform: translateX(0%);
                    }
                }
            }
        }

        .imove {
            .maimg011 {
                position: absolute;
                left: 24rem;
                top: 8rem;
            }

            .maimg02 {
                position: absolute;
                right: 80rem;
                top: 32rem;
            }

            .maimg03 {
                position: absolute;
                right: 27rem;
                top: 16rem;
                transform: rotate(-10deg);
            }
        }

        .mantext {
            position: relative;
            z-index: 1;

            .ahrck {
                width: 230px;
                height: 55px;
                border-radius: 55px;
                background-color: #F07070;
                position: absolute;
                left: 61rem;
                top: -41rem;

                .grenbox {
                    background-color: black;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    position: absolute;
                    left: 6px;
                    top: 4px;
                }

                .tntwk01 {
                    color: white;
                    font-size: 21px;
                    font-weight: 600;
                    position: absolute;
                    left: 16px;
                    top: 16px;
                }

                .rmfwk01 {
                    font-size: 21px;
                    font-weight: 600;
                    position: absolute;
                    left: 59px;
                    top: 16px;
                }
            }
        }

        .svgimgbox {
            font-weight: 600;

            .Mal {
                position: absolute;
                right: 30rem;
                top: 8rem;

                rect {
                    fill: #F07070;
                }

                path {
                    fill: #F07070;
                }

            }

            .fel01 {
                position: absolute;
                right: 32rem;
                top: 10rem;
                font-size: 20px;
            }

            .Mae {
                position: absolute;
                right: 39rem;
                top: 13rem;
                width: 310px;

                rect {
                    fill: #F07070;
                }

                path {
                    fill: #F07070;
                }
            }

            .fel02 {
                position: absolute;
                right: 40rem;
                top: 16.6rem;
                width: 244px;
                font-size: 20px;
                line-height: 1.2;
            }

            .Mam {
                position: absolute;
                right: 30rem;
                top: 29rem;
                width: 463px;
                height: 194px;
                background-color: #F07070;
                border-radius: 25px;
                text-align: center;

                .fel03 {
                    font-size: 20px;
                    padding: 20px;
                    line-height: 1.6;
                }
            }
        }

        .view {
            position: absolute;
            top: 42rem;
            right: 30rem;
            font-size: 25px;
            font-weight: 600;
            animation: moves 1s ease-in-out infinite alternate;
            z-index: 2;
            cursor: pointer;

            @keyframes moves {
                to {
                    transform: translateX(0);
                }

                from {
                    transform: translateX(-20%);
                }

            }
        }
    }
}