#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-size: 14px;
    color: #000;

  }
  
  .swiper {
    width: 90%;
    height: 680px;
    border-radius: 10px;
  }
  
  .swiper-slide {
    /* text-align: center;
    font-size: 18px; */
    background: #D9D9D9;
    color: #000;
    /* Center slide text vertically */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  
  .swiper-slide img {
    /* display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; */
  }
  .swiper-button-next {
      background: url('../../public/img/right-long-solid.svg') no-repeat;
      right: 55px !important;
    top: 31rem !important;
    width: 100px !important;
    height: 70px !important;
    }
    
    .swiper-button-prev {
      background: url('../../public/img/left-long-solid.svg') no-repeat;
      left: 97rem !important;
      top: 27rem !important;
      width: 100px !important;
      height: 70px !important;
  }

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}



