@import "setting.css";

body {
    overflow-x: hidden;
    overflow-y: auto;

}

header {
    padding-top: 5px;

    .lobox {
        width: 110px;
        height: 50px;
        border: 2px solid white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;


        position: relative;
        top: 18px;
        left: 74px;

        .logow {
            width: 55px;
            // position: relative;
            // top: 18px;
            // left: 74px;
            display: block;
        }
    }


    nav {
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
        font-size: 20px;
        gap: 25px;
        margin-right: 40px;

        a {
            color: white;
            font-family: 'the01';

        }
    }

    /* .blank_space {
        margin: 10px 65px;
        border-bottom: 2px solid white;
        text-align: center;
    } */
}



main {
    background-color: black;
    color: white;


    .section01 {
        margin: 0 65px;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;


        .section01a {
            width: 100%;
            margin: 0 30px;
            margin-top: 30px;
            height: 35%;

            ul {
                justify-content: space-between;
                display: flex;
                width: 100%;

                .paragraph01 {
                    font-size: 70px;
                    line-height: 2;

                    strong {
                        font-weight: 700;
                        background-image: linear-gradient(180deg,
                                #ffffff,
                                #747474 10%,
                                #4b4b4b 33%,
                                #444444 45%,
                                #4d4d4d 60%,
                                #8f8f8f 66%,
                                #ffffff);
                        color: transparent;
                        -webkit-background-clip: text;
                        background-size: 100% 300%;
                        background-position-y: 0%;
                        animation: ho1 2s ease-in-out infinite alternate;

                        @keyframes ho1 {
                            from {
                                background-position-y: 0%;
                            }

                            to {
                                background-position-y: 100%;
                            }
                        }
                    }
                }

                .paragraph02 {
                    font-size: 30px;
                    line-height: 1.3;
                    position: absolute;

                    strong {
                        font-weight: 700;
                    }
                }

                .paragraph03 {
                    font-size: 30px;
                    line-height: 1.3;
                    width: 15%;
                    display: flex;
                    flex-direction: column;

                    .stbox {
                        display: flex;
                        justify-content: space-evenly;
                        margin-bottom: 15px;
                        font-family: "the01";
                        align-items: center;

                        strong {
                            display: flex;

                        }

                        .vvmail {
                            width: 50px;
                            height: 50px;
                            background-color: #FFD600;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }


                    p {
                        font-size: 25px;
                        font-family: "the02";
                        transform: translateX(3px);
                    }
                }
            }
        }

        .section02a {
            display: flex;
            width: 100%;
            justify-content: space-between;

            img {
                width: 90px;
                height: 90px;
                // -webkit-filter: brightness(0) invert(1);
                // filter: brightness(0) invert(1);
                // font-size: 50px;
                // font-family: 'the01';
                color: white;
                position: relative;
                bottom: -149px;
                animation: arr2 1.5s ease-in-out infinite;

                @keyframes arr2 {
                    0% {
                        transform: translateY(0%);
                    }

                    50% {
                        transform: translateY(30%);
                    }

                }
            }

            h1 {
                font-size: 250px;
                font-weight: bold;

                &::before {
                    content: "";
                    width: 1000px;
                    height: 300px;
                    border: 3px solid white;
                    opacity: 50%;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    bottom: 100px;
                    transform: rotate(7deg);
                    animation: hh2 5s ease-in-out infinite;

                    @keyframes hh2 {
                        0% {
                            transform: rotate(7deg);
                        }

                        50% {
                            transform: rotate(3deg);
                        }

                        100% {
                            transform: rotate(7deg);
                        }
                    }
                }

                &::after {
                    content: "";
                    width: 1000px;
                    height: 300px;
                    border: 2px solid white;
                    opacity: 70%;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    bottom: 100px;


                }
            }

            .paragraphbox {

                .memoji01 {
                    width: 20%;
                    position: relative;
                    bottom: -2px;
                    left: -2.7%;
                }

                .noi {
                    width: 100%;
                }
            }

        }

        .section03a {
            text-align: center;
            margin: 0 auto;
            color: rgb(182, 182, 182);
            font-size: 15px;
        }
    }

    .section02 {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .rotatebox {
            white-space: nowrap;
            display: inline-block;
            font-size: 50px;
            font-weight: 700;

            //font-family: 'Pacifico', cursive;
            //font-family: 'Dancing Script', cursive;
            //font-family: 'Sacramento', cursive;
            //font-family: 'Fira Sans Extra Condensed', sans-serif;
            color: rgb(255, 255, 255);

            // 스크롤
            .cover01 {
                margin-bottom: 10rem;
                display: flex;
                font-size: 30px;
                margin-top: 5vh;
                width: 100%;
                transform: translate(19px, -10px) rotate(5deg);


                .first {
                    padding: 1rem 0;
                    //background-color: #FF3797;
                    display: flex;
                    align-items: center;
                }
            }

            .cover02 {
                transform: translate(19px, -12px) rotate(-8deg);
                height: 150px;
                white-space: nowrap;
                justify-content: flex-end;

                .second {
                    font-size: 40px;
                    padding: 5rem 0;
                    height: 65px;
                    display: flex;
                    align-items: center;
                    // background-color: #0014c3;
                }
            }

            .cover03 {
                margin-bottom: 10rem;
                display: flex;
                align-items: center;
                font-size: 40px;
                margin-top: 5vh;
                width: 100%;
                transform: translate(19px, -10px) rotate(5deg);

                .third {
                    padding: 2rem 0;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    //background-color: #00C386;
                }
            }

            .cover04 {
                transform: translate(19px, 25px) rotate(-3deg);
                height: 55px;
                display: flex;
                align-items: center;

                .fourth {
                    padding: 1rem 0;
                    display: flex;
                    align-items: center;
                }
            }

        }

        img {
            width: 10%;
            position: absolute;
        }



    }

    .section03 {
        height: 100vh;

        .swiperbox {
            display: flex;
            height: 100%;
            align-items: center;

            .slide1 {
                .project_1 {
                    .pro_title {
                        margin: 20px 45px;
                        font-family: 'the01';

                        h2 {
                            font-weight: 700;
                            display: flex;
                            font-size: 25px;

                            p {
                                font-weight: 500;
                                margin-left: 10px;
                            }
                        }
                    }

                    .title_boder {
                        border-bottom: 2px solid black;
                    }

                    .pro_detail {
                        display: flex;
                        position: relative;
                        height: 560px;
                        font-family: "the01";

                        .imgbox {
                            display: flex;
                            justify-content: space-around;
                            width: 92%;

                            .live02 {
                                margin: auto -15px;

                                img {
                                    padding: 0 45px;
                                    width: 700px;
                                    object-fit: contain;
                                    //background-color: black;
                                }
                            }


                            .datail_probox {
                                height: 290px;
                                width: 40%;
                                display: flex;
                                margin: auto 0;
                                flex-direction: column;
                                justify-content: space-between;
                                flex-wrap: nowrap;
                                font-size: 20px;

                                button {
                                    font-family: "the01";
                                    width: 65%;
                                    height: 35px;
                                    border-radius: 10px;
                                    background-color: #D9D9D9;
                                }
                            }
                        }


                        .boderbox {
                            .order_boder01 {
                                border-right: 2px solid black;
                                position: absolute;
                                left: 15%;
                                /* top: 4px; */
                                height: 100%;
                            }

                            .order_boder02 {
                                border-right: 2px solid black;
                                position: absolute;
                                right: 15%;
                                /* top: 4px; */
                                height: 100%;
                            }
                        }


                        .pro_order {
                            position: relative;
                            right: 43px;
                            top: 90px;

                            .so {
                                font-size: 70px;
                                font-weight: 900;
                            }
                        }
                    }



                    .detail_boder {
                        border-top: 2px solid black;
                    }




                }
            }

            .slide2 {
                .project_2 {
                    .pro_title {
                        margin: 20px 45px;
                        font-family: 'the01';

                        h2 {
                            font-weight: 700;
                            display: flex;
                            font-size: 25px;

                            p {
                                font-weight: 500;
                                margin-left: 10px;
                            }
                        }
                    }

                    .title_boder {
                        border-bottom: 2px solid black;
                    }

                    .pro_detail {
                        display: flex;
                        position: relative;
                        height: 560px;
                        font-family: "the01";

                        .imgbox {
                            display: flex;
                            justify-content: space-around;
                            width: 92%;

                            .live02 {
                                margin: auto -15px;

                                img {
                                    padding: 0 45px;
                                    width: 700px;
                                    object-fit: contain;
                                    //background-color: black;
                                }
                            }

                            .datail_probox {
                                height: 290px;
                                width: 40%;
                                display: flex;
                                margin: auto 0;
                                flex-direction: column;
                                justify-content: space-between;
                                flex-wrap: nowrap;
                                font-size: 20px;

                                button {
                                    font-family: "the01";
                                    width: 65%;
                                    height: 35px;
                                    border-radius: 10px;
                                    background-color: #D9D9D9;
                                }
                            }
                        }


                        .boderbox {
                            .order_boder01 {
                                border-right: 2px solid black;
                                position: absolute;
                                left: 15%;
                                /* top: 4px; */
                                height: 100%;
                            }

                            .order_boder02 {
                                border-right: 2px solid black;
                                position: absolute;
                                right: 15%;
                                /* top: 4px; */
                                height: 100%;
                            }
                        }


                        .pro_order {
                            position: relative;
                            right: 43px;
                            top: 90px;

                            .so {
                                font-size: 70px;
                                font-weight: 900;
                            }
                        }
                    }



                    .detail_boder {
                        border-top: 2px solid black;
                    }




                }
            }

            .slide3 {
                .project_3 {
                    .pro_title {
                        margin: 20px 45px;
                        font-family: 'the01';

                        h2 {
                            font-weight: 700;
                            display: flex;
                            font-size: 25px;

                            p {
                                font-weight: 500;
                                margin-left: 10px;
                            }
                        }
                    }

                    .title_boder {
                        border-bottom: 2px solid black;
                    }

                    .pro_detail {
                        display: flex;
                        position: relative;
                        height: 560px;
                        font-family: "the01";

                        .imgbox {
                            display: flex;
                            justify-content: space-around;
                            width: 92%;

                            .live02 {
                                margin: auto -15px;

                                img {
                                    padding: 0 45px;
                                    width: 700px;
                                    object-fit: contain;
                                    //background-color: black;
                                }
                            }

                            .datail_probox {
                                height: 290px;
                                width: 40%;
                                display: flex;
                                margin: auto 0;
                                flex-direction: column;
                                justify-content: space-between;
                                flex-wrap: nowrap;
                                font-size: 20px;

                                button {
                                    font-family: "the01";
                                    width: 65%;
                                    height: 35px;
                                    border-radius: 10px;
                                    background-color: #D9D9D9;
                                }
                            }
                        }


                        .boderbox {
                            .order_boder01 {
                                border-right: 2px solid black;
                                position: absolute;
                                left: 15%;
                                /* top: 4px; */
                                height: 100%;
                            }

                            .order_boder02 {
                                border-right: 2px solid black;
                                position: absolute;
                                right: 15%;
                                /* top: 4px; */
                                height: 100%;
                            }
                        }


                        .pro_order {
                            position: relative;
                            right: 43px;
                            top: 90px;

                            .so {
                                font-size: 70px;
                                font-weight: 900;
                            }
                        }
                    }



                    .detail_boder {
                        border-top: 2px solid black;
                    }




                }
            }

            .slide4 {
                .project_4 {
                    .pro_title {
                        margin: 20px 45px;
                        font-family: 'the01';

                        h2 {
                            font-weight: 700;
                            display: flex;
                            font-size: 25px;

                            p {
                                font-weight: 500;
                                margin-left: 10px;
                            }
                        }
                    }

                    .title_boder {
                        border-bottom: 2px solid black;
                    }

                    .pro_detail {
                        display: flex;
                        position: relative;
                        height: 560px;
                        font-family: "the01";

                        .imgbox {
                            display: flex;
                            justify-content: space-around;
                            width: 92%;

                            .live02 {
                                margin: auto -15px;

                                img {
                                    padding: 0 45px;
                                    width: 700px;
                                    object-fit: contain;
                                    //background-color: black;
                                }
                            }

                            .datail_probox {
                                height: 290px;
                                width: 40%;
                                display: flex;
                                margin: auto 0;
                                flex-direction: column;
                                justify-content: space-between;
                                flex-wrap: nowrap;
                                font-size: 20px;

                                button {
                                    font-family: "the01";
                                    width: 65%;
                                    height: 35px;
                                    border-radius: 10px;
                                    background-color: #D9D9D9;
                                }
                            }
                        }


                        .boderbox {
                            .order_boder01 {
                                border-right: 2px solid black;
                                position: absolute;
                                left: 15%;
                                /* top: 4px; */
                                height: 100%;
                            }

                            .order_boder02 {
                                border-right: 2px solid black;
                                position: absolute;
                                right: 15%;
                                /* top: 4px; */
                                height: 100%;
                            }
                        }


                        .pro_order {
                            position: relative;
                            right: 43px;
                            top: 90px;

                            .so {
                                font-size: 70px;
                                font-weight: 900;
                            }
                        }
                    }



                    .detail_boder {
                        border-top: 2px solid black;
                    }




                }
            }
        }

    }
}