@charset "UTF-8";
@import "setting.css";
/*반응형, 브라우저 크기가 980px 이하일때*/
body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
}

.bodywork {
  cursor: url("../css/imgs/mini_w.svg"), auto;
  background-color: black;
}

.workmain {
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
}
.workmain .section01 {
  overflow: hidden;
  margin: 0 65px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.workmain .section01 .section01a {
  width: 100%;
  margin: 0 30px;
  margin-top: 30px;
  height: 35%;
  z-index: 1;
}
.workmain .section01 .section01a ul {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.workmain .section01 .section01a ul .paragraph01 {
  font-size: 70px;
  line-height: 2;
}
.workmain .section01 .section01a ul .paragraph01 strong {
  font-weight: 700;
  background-image: linear-gradient(180deg, #ffffff, #747474 10%, #4b4b4b 33%, #444444 45%, #4d4d4d 60%, #8f8f8f 66%, #ffffff);
  color: transparent;
  -webkit-background-clip: text;
  background-size: 100% 300%;
  background-position-y: 0%;
  -webkit-animation: ho1 2s ease-in-out infinite alternate;
          animation: ho1 2s ease-in-out infinite alternate;
}
@-webkit-keyframes ho1 {
  from {
    background-position-y: 0%;
  }
  to {
    background-position-y: 100%;
  }
}
@keyframes ho1 {
  from {
    background-position-y: 0%;
  }
  to {
    background-position-y: 100%;
  }
}
.workmain .section01 .section01a ul .paragraph02 {
  font-size: 30px;
  line-height: 1.3;
  position: absolute;
}
.workmain .section01 .section01a ul .paragraph02 strong {
  font-weight: 700;
}
.workmain .section01 .section01a ul .paragraph03 {
  font-size: 30px;
  line-height: 1.3;
  width: 15%;
  display: flex;
  flex-direction: column;
}
.workmain .section01 .section01a ul .paragraph03 .stbox {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
  font-family: "the01";
  align-items: center;
}
.workmain .section01 .section01a ul .paragraph03 .stbox strong {
  display: flex;
}
.workmain .section01 .section01a ul .paragraph03 .stbox .vvmail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workmain .section01 .section01a ul .paragraph03 .stbox .vvmail img {
  width: 90%;
}
.workmain .section01 .section01a ul .paragraph03 p {
  font-size: 25px;
  font-family: "the02";
  transform: translateX(3px);
}
.workmain .section01 .section02z {
  position: absolute;
  transform: rotate(-6deg) translateY(8rem);
}
.workmain .section01 .section02z h1 {
  font-size: 250px;
  font-weight: bold;
  color: rgb(54, 54, 54);
  white-space: nowrap;
  position: relative;
  transform: translateX(-51%);
  -webkit-animation: move 5s linear infinite;
          animation: move 5s linear infinite;
}
@-webkit-keyframes move {
  0% {
    transform: translateX(-51%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes move {
  0% {
    transform: translateX(-51%);
  }
  100% {
    transform: translateX(0%);
  }
}
.workmain .section01 .section02a {
  display: flex;
  width: 100%;
}
.workmain .section01 .section02a img {
  width: 90px;
  height: 90px;
  color: white;
  position: relative;
  bottom: -100px;
  left: 50%;
  -webkit-animation: arr2 1.5s ease-in-out infinite;
          animation: arr2 1.5s ease-in-out infinite;
}
@-webkit-keyframes arr2 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
}
@keyframes arr2 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
}
.workmain .section01 .section02a .probox {
  width: 100%;
}
.workmain .section01 .section02a .probox .hwbox {
  width: 180px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.workmain .section01 .section02a .probox .hwbox h2 {
  font-family: "the01";
  font-size: 30px;
}
.workmain .section02 {
  overflow: hidden;
  height: 100vh;
}
.workmain .section02 article .titlepro {
  position: relative;
  top: 8rem;
  left: 15rem;
}
.workmain .section02 article .titlepro H2 {
  font-size: 70px;
  font-family: "the01";
}
.workmain .section02 article .linkbox {
  position: relative;
}
.workmain .section02 article .linkbox a img {
  width: 110%;
}
.workmain .section02 article .linkbox .weaderhover:hover .boxtex04 {
  opacity: 1;
}
.workmain .section02 article .linkbox .weaderhover:hover .mainicon04 {
  -webkit-animation: icon04 1.5s ease-in-out infinite;
          animation: icon04 1.5s ease-in-out infinite;
}
@-webkit-keyframes icon04 {
  0% {
    transform: translateY(0%) rotate(22deg);
  }
  50% {
    transform: translateY(30%) rotate(22deg);
  }
}
@keyframes icon04 {
  0% {
    transform: translateY(0%) rotate(22deg);
  }
  50% {
    transform: translateY(30%) rotate(22deg);
  }
}
.workmain .section02 article .linkbox .weaderhover .mainicon04 {
  position: absolute;
  left: 41rem;
  top: 9rem;
  transform: rotate(22deg);
  z-index: 5;
}
.workmain .section02 article .linkbox .weaderhover .boxtex04 {
  opacity: 0;
  position: absolute;
  transform: rotate(-6deg) translateY(-28rem);
}
.workmain .section02 article .linkbox .weaderhover .boxtex04 .text04 {
  font-size: 250px;
  font-weight: bold;
  color: #DE98AA;
  white-space: nowrap;
  position: relative;
  transform: translateX(-51%);
  -webkit-animation: temove04 12s linear infinite;
          animation: temove04 12s linear infinite;
}
@-webkit-keyframes temove04 {
  0% {
    transform: translateX(-51%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes temove04 {
  0% {
    transform: translateX(-51%);
  }
  100% {
    transform: translateX(0%);
  }
}
.workmain .section02 article .linkbox .splahover:hover .boxtex03 {
  opacity: 1;
}
.workmain .section02 article .linkbox .splahover:hover .mainicon03 {
  -webkit-animation: icon03 1.5s ease-in-out infinite;
          animation: icon03 1.5s ease-in-out infinite;
}
@-webkit-keyframes icon03 {
  0% {
    transform: translate(0%) rotate(-13deg);
  }
  50% {
    transform: translate(30%, -10%) rotate(-13deg);
  }
}
@keyframes icon03 {
  0% {
    transform: translate(0%) rotate(-13deg);
  }
  50% {
    transform: translate(30%, -10%) rotate(-13deg);
  }
}
.workmain .section02 article .linkbox .splahover .mainicon03 {
  position: absolute;
  right: 44rem;
  top: 20rem;
  transform: rotate(-13deg);
  z-index: 4;
}
.workmain .section02 article .linkbox .splahover .boxtex03 {
  opacity: 0;
  position: absolute;
  transform: rotate(-6deg) translateY(-6rem);
}
.workmain .section02 article .linkbox .splahover .boxtex03 .text03 {
  font-size: 250px;
  font-weight: bold;
  color: #944343;
  white-space: nowrap;
  position: relative;
  transform: translateX(-51%);
  -webkit-animation: temove03 10s linear infinite;
          animation: temove03 10s linear infinite;
}
@-webkit-keyframes temove03 {
  0% {
    transform: translateX(-51%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes temove03 {
  0% {
    transform: translateX(-51%);
  }
  100% {
    transform: translateX(0%);
  }
}
.workmain .section02 article .linkbox .manhover:hover .boxtex02 {
  opacity: 1;
}
.workmain .section02 article .linkbox .manhover:hover .mainicon02 {
  -webkit-animation: icon02 1.5s ease-in-out infinite;
          animation: icon02 1.5s ease-in-out infinite;
}
@-webkit-keyframes icon02 {
  0% {
    transform: translate(0%) rotate(22deg);
  }
  50% {
    transform: translate(10%, 30%) rotate(22deg);
  }
}
@keyframes icon02 {
  0% {
    transform: translate(0%) rotate(22deg);
  }
  50% {
    transform: translate(10%, 30%) rotate(22deg);
  }
}
.workmain .section02 article .linkbox .manhover .mainicon02 {
  position: absolute;
  left: 39rem;
  top: 33rem;
  transform: rotate(22deg);
  z-index: 3;
}
.workmain .section02 article .linkbox .manhover .boxtex02 {
  opacity: 0;
  position: absolute;
  transform: rotate(-6deg) translateY(-3rem);
}
.workmain .section02 article .linkbox .manhover .boxtex02 .text02 {
  font-size: 250px;
  font-weight: bold;
  color: #24743F;
  white-space: nowrap;
  position: relative;
  transform: translateX(-51%);
  -webkit-animation: temove02 12s linear infinite;
          animation: temove02 12s linear infinite;
}
@-webkit-keyframes temove02 {
  0% {
    transform: translateX(-51%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes temove02 {
  0% {
    transform: translateX(-51%);
  }
  100% {
    transform: translateX(0%);
  }
}
.workmain .section02 article .linkbox .suehover:hover .boxtex01 {
  opacity: 1;
}
.workmain .section02 article .linkbox .suehover:hover .mainicon01 {
  -webkit-animation: icon01 1.5s ease-in-out infinite;
          animation: icon01 1.5s ease-in-out infinite;
}
@-webkit-keyframes icon01 {
  0% {
    transform: translate(0%) rotate(-13deg);
  }
  50% {
    transform: translate(30%, -10%) rotate(-13deg);
  }
}
@keyframes icon01 {
  0% {
    transform: translate(0%) rotate(-13deg);
  }
  50% {
    transform: translate(30%, -10%) rotate(-13deg);
  }
}
.workmain .section02 article .linkbox .suehover .mainicon01 {
  position: absolute;
  right: 44rem;
  top: 32rem;
  transform: rotate(8deg);
  z-index: 4;
}
.workmain .section02 article .linkbox .suehover .boxtex01 {
  opacity: 0;
  position: absolute;
  transform: rotate(-6deg) translateY(13rem);
}
.workmain .section02 article .linkbox .suehover .boxtex01 .text01 {
  font-size: 250px;
  font-weight: bold;
  color: #DCB244;
  white-space: nowrap;
  position: relative;
  transform: translateX(-51%);
  -webkit-animation: temove01 10s linear infinite;
          animation: temove01 10s linear infinite;
}
@-webkit-keyframes temove01 {
  0% {
    transform: translateX(-51%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes temove01 {
  0% {
    transform: translateX(-51%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 414px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .workheader {
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.842);
    overflow-x: hidden;
    /* .blank_space {
        margin: 10px 65px;
        border-bottom: 2px solid white;
        text-align: center;
    } */
  }
  .workheader .lobox {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
    left: 20px;
  }
  .workheader .lobox .logow {
    width: 25px;
    display: block;
  }
  .workheader nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 75px;
    font-size: 20px;
    gap: 25px;
    margin-right: 40px;
    transform: translate(87px, -15px);
  }
  .workheader nav a {
    color: white;
    font-family: "the01";
  }
  .workmain {
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
  }
  .workmain .section01 {
    margin: 0 10px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 97.3%;
    position: relative;
  }
  .workmain .section01 .section01a {
    width: 100%;
    margin: 0 10px;
    margin-top: 30px;
    height: 35%;
  }
  .workmain .section01 .section01a ul {
    justify-content: space-between;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .workmain .section01 .section01a ul .paragraph01 {
    font-size: 28px;
    line-height: 2;
  }
  .workmain .section01 .section01a ul .paragraph01 strong {
    font-weight: 700;
    background-image: linear-gradient(180deg, #ffffff, #747474 10%, #4b4b4b 33%, #444444 45%, #4d4d4d 60%, #8f8f8f 66%, #ffffff);
    color: transparent;
    -webkit-background-clip: text;
    background-size: 100% 300%;
    background-position-y: 0%;
    -webkit-animation: ho1 2s ease-in-out infinite alternate;
            animation: ho1 2s ease-in-out infinite alternate;
  }
  @-webkit-keyframes ho1 {
    from {
      background-position-y: 0%;
    }
    to {
      background-position-y: 100%;
    }
  }
  @keyframes ho1 {
    from {
      background-position-y: 0%;
    }
    to {
      background-position-y: 100%;
    }
  }
  .workmain .section01 .section01a ul .paragraph02 {
    font-size: 30px;
    line-height: 1.3;
    position: absolute;
  }
  .workmain .section01 .section01a ul .paragraph02 strong {
    font-weight: 700;
  }
  .workmain .section01 .section01a ul .paragraph03 {
    font-size: 30px;
    line-height: 1.3;
    width: 15%;
    display: flex;
    flex-direction: column;
    transform: translate(47px, 77px);
  }
  .workmain .section01 .section01a ul .paragraph03 .stbox {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
    font-family: "the01";
    align-items: center;
  }
  .workmain .section01 .section01a ul .paragraph03 .stbox strong {
    display: flex;
  }
  .workmain .section01 .section01a ul .paragraph03 .stbox .vvmail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .workmain .section01 .section01a ul .paragraph03 .stbox .vvmail img {
    width: 90%;
  }
  .workmain .section01 .section01a ul .paragraph03 p {
    font-size: 25px;
    font-family: "the02";
    transform: translateX(-47px);
  }
  .workmain .section01 .section02a {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .workmain .section01 .section02a img {
    width: 90px;
    height: 90px;
    color: white;
    position: relative;
    bottom: -125px;
    -webkit-animation: arr2 1.5s ease-in-out infinite;
            animation: arr2 1.5s ease-in-out infinite;
  }
  @-webkit-keyframes arr2 {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(30%);
    }
  }
  @keyframes arr2 {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(30%);
    }
  }
  .workmain .section01 .section02a h1 {
    font-size: 100px;
    font-weight: bold;
  }
  .workmain .section01 .section02a h1::before {
    content: "";
    width: 500px;
    height: 200px;
    border: 3px solid white;
    opacity: 50%;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 520px;
    right: -10rem;
    transform: rotate(7deg);
    -webkit-animation: hh2 5s ease-in-out infinite;
            animation: hh2 5s ease-in-out infinite;
  }
  @-webkit-keyframes hh2 {
    0% {
      transform: rotate(7deg);
    }
    50% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(7deg);
    }
  }
  @keyframes hh2 {
    0% {
      transform: rotate(7deg);
    }
    50% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(7deg);
    }
  }
  .workmain .section01 .section02a h1::after {
    content: "";
    width: 500px;
    height: 200px;
    border: 2px solid white;
    opacity: 70%;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 520px;
    right: -10rem;
  }
  .workmain .section01 .section02a .paragraphbox .memoji01 {
    width: 20%;
    position: relative;
    bottom: -2px;
    left: -2.7%;
  }
  .workmain .section01 .section02a .paragraphbox .noi {
    width: 100%;
  }
  .workmain .section01 .float {
    position: relative;
  }
  .workmain .section01 .float .secfloat01 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4745098039) 0%, rgba(0, 0, 0, 0.884) 100%);
    left: -13.5rem;
    top: -14.6rem;
    -webkit-animation: sec01 3s infinite alternate ease-in-out;
            animation: sec01 3s infinite alternate ease-in-out;
  }
  @-webkit-keyframes sec01 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes sec01 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}/*# sourceMappingURL=Work.css.map */