@import "setting.css";
@import '../css/variable.scss';

body {
    overflow-x: hidden;
    overflow-y: auto;

}

.bodywork {
    cursor: url("../css/imgs/mini_w.svg"), auto;
    background-image: url('../../public/img/image37.png');
    background-attachment: fixed;
    background-repeat: no-repeat
}

.workheader {
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.842);
    height: 50px;

    .lobox {
        width: 50px;
        height: 50px;
        border: 2px solid white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;


        position: fixed;
        top: 18px;
        left: 110px;

        .logow {
            width: 27px;
            // position: relative;
            // top: 18px;
            // left: 74px;
            display: block;
        }
    }


    nav {
        position: fixed;
        right: 0;
        top: 42px;
        display: flex;
        justify-content: flex-end;
        padding-right: 75px;
        font-size: 20px;
        gap: 25px;
        margin-right: 40px;

        a {
            color: white;
            font-family: 'the01';

        }
    }

    /* .blank_space {
        margin: 10px 65px;
        border-bottom: 2px solid white;
        text-align: center;
    } */
}

.workmain {
    background-color: rgba(0, 0, 0, 0.842);
    color: white;


    .section01 {
        margin: 0 65px;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;


        .section01a {
            width: 100%;
            margin: 0 30px;
            margin-top: 30px;
            height: 35%;

            ul {
                justify-content: space-between;
                display: flex;
                width: 100%;

                .paragraph01 {
                    font-size: 70px;
                    line-height: 2;

                    strong {
                        font-weight: 700;
                        background-image: linear-gradient(180deg,
                                #ffffff,
                                #747474 10%,
                                #4b4b4b 33%,
                                #444444 45%,
                                #4d4d4d 60%,
                                #8f8f8f 66%,
                                #ffffff);
                        color: transparent;
                        -webkit-background-clip: text;
                        background-size: 100% 300%;
                        background-position-y: 0%;
                        animation: ho1 2s ease-in-out infinite alternate;

                        @keyframes ho1 {
                            from {
                                background-position-y: 0%;
                            }

                            to {
                                background-position-y: 100%;
                            }
                        }
                    }
                }

                .paragraph02 {
                    font-size: 30px;
                    line-height: 1.3;
                    position: absolute;

                    strong {
                        font-weight: 700;
                    }
                }

                .paragraph03 {
                    font-size: 30px;
                    line-height: 1.3;
                    width: 15%;
                    display: flex;
                    flex-direction: column;

                    .stbox {
                        display: flex;
                        justify-content: space-evenly;
                        margin-bottom: 15px;
                        font-family: "the01";
                        align-items: center;

                        strong {
                            display: flex;

                        }

                        .vvmail {
                            width: 50px;
                            height: 50px;
                            //background-image: url('../../public/img/one.png');
                            //background-color: #FFD600;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 90%;
                            }
                        }
                    }


                    p {
                        font-size: 25px;
                        font-family: "the02";
                        transform: translateX(3px);
                    }
                }
            }
        }

        .section02a {
            display: flex;
            width: 100%;
            justify-content: space-between;

            img {
                width: 90px;
                height: 90px;
                // -webkit-filter: brightness(0) invert(1);
                // filter: brightness(0) invert(1);
                // font-size: 50px;
                // font-family: 'the01';
                color: white;
                position: relative;
                bottom: -149px;
                animation: arr2 1.5s ease-in-out infinite;

                @keyframes arr2 {
                    0% {
                        transform: translateY(0%);
                    }

                    50% {
                        transform: translateY(30%);
                    }

                }
            }

            h1 {
                font-size: 250px;
                font-weight: bold;

                &::before {
                    content: "";
                    width: 1000px;
                    height: 300px;
                    border: 3px solid white;
                    opacity: 50%;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    top: 585px;
                    transform: rotate(7deg);
                    animation: hh2 5s ease-in-out infinite;

                    @keyframes hh2 {
                        0% {
                            transform: rotate(7deg);
                        }

                        50% {
                            transform: rotate(3deg);
                        }

                        100% {
                            transform: rotate(7deg);
                        }
                    }
                }

                &::after {
                    content: "";
                    width: 1000px;
                    height: 300px;
                    border: 2px solid white;
                    opacity: 70%;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    top: 585px;



                }

            }

            .paragraphbox {

                .memoji01 {
                    width: 20%;
                    position: relative;
                    bottom: -2px;
                    left: -2.7%;
                }

                .noi {
                    width: 100%;
                }
            }

        }

        .float {
            position: relative;

            .secfloat01 {
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-image: linear-gradient(to top, #ffffff79 0%, rgba(0, 0, 0, 0.884) 100%);
                left: -5.5rem;
                top: -31rem;
                animation: sec01 3s infinite alternate ease-in-out;

                @keyframes sec01 {
                    0% {
                        opacity: 0;
                    }

                    50% {
                        opacity: 0.5;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }

            .secfloat02 {}
        }
    }

    /* .section02 {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .rotatebox {
            white-space: nowrap;
            display: inline-block;
            font-size: 50px;
            font-weight: 700;

            //font-family: 'Pacifico', cursive;
            //font-family: 'Dancing Script', cursive;
            //font-family: 'Sacramento', cursive;
            //font-family: 'Fira Sans Extra Condensed', sans-serif;
            color: rgb(255, 255, 255);

            // 스크롤
            .cover01 {
                margin-bottom: 10rem;
                display: flex;
                font-size: 23px;
                margin-top: 5vh;
                width: 100%;
                height: 40px;
                transform: translate(-19px, 246px) rotate(15deg);
                background-color: #ffffff;
                color: black;
                z-index: 1;
                position: relative;

                .first {
                    padding: 1rem 0;
                    //background-color: #FF3797;
                    display: flex;
                    align-items: center;
                }
            }

            .cover02 {
                margin-bottom: 10rem;
                display: flex;
                font-size: 23px;
                margin-top: 5vh;
                width: 100%;
                height: 40px;
                transform: translate(19px, -12px) rotate(-13deg);
                background-color: #444444;

                .second {
                    padding: 1rem 0;
                    //background-color: #FF3797;
                    display: flex;
                    align-items: center;
                }
            }


        }

        .vid01 {
            width: 11%;
            height: 398px;
            border-radius: 30px 30px 44px 42px;
            position: absolute;
            left: 27rem;
            top: 84.3rem;
        }

        .vid02 {
            border-radius: 30px;
            position: absolute;
            left: 68rem;
            top: 73rem;
        }

        .ponimg01 {
            width: 11%;
            position: absolute;
            left: 27rem;
            top: 84rem;
        }

        .ponimg02 {
            width: 341px;
            height: 704px;
            position: absolute;
            left: 67rem;
            top: 72rem;
        }




    } */

    .section03 {
        height: 100vh;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;

        .probox {
            position: relative;

            .pro {
                top: 3rem;
                left: 6rem;
                position: absolute;
                font-size: 70px;
                font-family: 'the01';
            }
        }

        .container {
            padding-top: 100px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .card {
                display: flex;
                height: 700px;
                width: 370px;
                background-color: #17141d;
                border-radius: 25px;
                transition: 0.4s ease-out;
                position: relative;
                flex-direction: column;
                padding: 30px 20px;
                cursor: pointer;

                &:hover:nth-child(1) {
                    transform: scale(1.1);
                    background-color: #0B70FE;
                    color: #17141d;
                    z-index: 1;
                    position: relative;
                }

                &:hover:nth-child(2) {
                    transform: scale(1.1);
                    background-color: #FF5A00;
                    color: #17141d;
                    z-index: 1;
                    position: relative;
                }

                &:hover:nth-child(3) {
                    transform: scale(1.1);
                    background-color: #FEC71C;
                    color: #17141d;
                    z-index: 1;
                    position: relative;
                }

                &:hover:nth-child(4) {
                    transform: scale(1.1);
                    background-color: #FCA5BE;
                    color: #17141d;
                    z-index: 1;
                    position: relative;
                }

                .cardbox {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    justify-content: space-around;

                    .pro_title {
                        font-family: 'the01';

                        h2 {
                            font-size: 25px;
                            margin-bottom: 10px;

                            p {
                                font-size: 20px;
                                margin-top: 15px;

                            }
                        }
                    }

                    .datail_probox {
                        font-family: 'the02';
                        display: flex;
                        height: 30%;
                        flex-direction: column;
                        justify-content: space-around;
                        line-height: 1.3;
                    }

                    .live02 {
                        img {
                            width: 330px;
                            border-radius: 25px;
                        }
                    }
                }

            }

        }





    }
}

@include mobile {
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .workheader {
        padding: 5px 0;
        background-color: rgba(0, 0, 0, 0.842);
        overflow-x: hidden;

        .lobox {
            width: 40px;
            height: 40px;
            border: 2px solid white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;


            position: relative;
            top: 10px;
            left: 20px;

            .logow {
                width: 25px;
                display: block;
            }
        }


        nav {
            display: flex;
            justify-content: flex-end;
            padding-right: 75px;
            font-size: 20px;
            gap: 25px;
            margin-right: 40px;
            transform: translate(87px, -15px);

            a {
                color: white;
                font-family: 'the01';

            }
        }

        /* .blank_space {
            margin: 10px 65px;
            border-bottom: 2px solid white;
            text-align: center;
        } */
    }

    .workmain {
        background-color: rgba(0, 0, 0, 0.842);
        color: white;


        .section01 {
            margin: 0 10px;
            height: 100vh;
            display: flex;
            flex-wrap: wrap;
            overflow-x: hidden;
            width: 97.3%;
            position: relative;

            .section01a {
                width: 100%;
                margin: 0 10px;
                margin-top: 30px;
                height: 35%;

                ul {
                    justify-content: space-between;
                    display: flex;
                    width: 100%;
                    flex-direction: column;

                    .paragraph01 {
                        font-size: 28px;
                        line-height: 2;

                        strong {
                            font-weight: 700;
                            background-image: linear-gradient(180deg,
                                    #ffffff,
                                    #747474 10%,
                                    #4b4b4b 33%,
                                    #444444 45%,
                                    #4d4d4d 60%,
                                    #8f8f8f 66%,
                                    #ffffff);
                            color: transparent;
                            -webkit-background-clip: text;
                            background-size: 100% 300%;
                            background-position-y: 0%;
                            animation: ho1 2s ease-in-out infinite alternate;

                            @keyframes ho1 {
                                from {
                                    background-position-y: 0%;
                                }

                                to {
                                    background-position-y: 100%;
                                }
                            }
                        }
                    }

                    .paragraph02 {
                        font-size: 30px;
                        line-height: 1.3;
                        position: absolute;

                        strong {
                            font-weight: 700;
                        }
                    }

                    .paragraph03 {
                        font-size: 30px;
                        line-height: 1.3;
                        width: 15%;
                        display: flex;
                        flex-direction: column;

                        transform: translate(47px, 77px);

                        .stbox {
                            display: flex;
                            justify-content: space-evenly;
                            margin-bottom: 15px;
                            font-family: "the01";
                            align-items: center;

                            strong {
                                display: flex;

                            }

                            .vvmail {
                                width: 50px;
                                height: 50px;
                                //background-image: url('../../public/img/one.png');
                                //background-color: #FFD600;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                img {
                                    width: 90%;
                                }
                            }
                        }


                        p {
                            font-size: 25px;
                            font-family: "the02";
                            transform: translateX(-47px);
                        }
                    }
                }
            }

            .section02a {
                display: flex;
                width: 100%;
                justify-content: space-between;


                img {
                    width: 90px;
                    height: 90px;
                    color: white;
                    position: relative;
                    bottom: -125px;
                    animation: arr2 1.5s ease-in-out infinite;

                    @keyframes arr2 {
                        0% {
                            transform: translateY(0%);
                        }

                        50% {
                            transform: translateY(30%);
                        }

                    }
                }

                h1 {
                    font-size: 100px;
                    font-weight: bold;


                    &::before {
                        content: "";
                        width: 500px;
                        height: 200px;
                        border: 3px solid white;
                        opacity: 50%;
                        border-radius: 50%;
                        display: block;
                        position: absolute;
                        top: 520px;
                        right: -10rem;
                        transform: rotate(7deg);
                        animation: hh2 5s ease-in-out infinite;

                        @keyframes hh2 {
                            0% {
                                transform: rotate(7deg);
                            }

                            50% {
                                transform: rotate(3deg);
                            }

                            100% {
                                transform: rotate(7deg);
                            }
                        }
                    }

                    &::after {
                        content: "";
                        width: 500px;
                        height: 200px;
                        border: 2px solid white;
                        opacity: 70%;
                        border-radius: 50%;
                        display: block;
                        position: absolute;
                        top: 520px;
                        right: -10rem;


                    }

                }

                .paragraphbox {

                    .memoji01 {
                        width: 20%;
                        position: relative;
                        bottom: -2px;
                        left: -2.7%;
                    }

                    .noi {
                        width: 100%;
                    }
                }

            }

            .float {
                position: relative;

                .secfloat01 {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-image: linear-gradient(to top, #ffffff79 0%, rgba(0, 0, 0, 0.884) 100%);
                    left: -13.5rem;
                    top: -14.6rem;
                    animation: sec01 3s infinite alternate ease-in-out;

                    @keyframes sec01 {
                        0% {
                            opacity: 0;
                        }

                        50% {
                            opacity: 0.5;
                        }

                        100% {
                            opacity: 1;
                        }
                    }
                }

                .secfloat02 {}
            }
        }

        .section02 {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            overflow-x: hidden;

            .rotatebox {
                white-space: nowrap;
                display: inline-block;
                font-size: 50px;
                font-weight: 700;

                //font-family: 'Pacifico', cursive;
                //font-family: 'Dancing Script', cursive;
                //font-family: 'Sacramento', cursive;
                //font-family: 'Fira Sans Extra Condensed', sans-serif;
                color: rgb(255, 255, 255);

                // 스크롤
                .cover01 {
                    margin-bottom: 10rem;
                    display: flex;
                    font-size: 23px;
                    margin-top: 5vh;
                    width: 100%;
                    height: 40px;
                    transform: translate(-19px, 323px) rotate(15deg);
                    background-color: #ffffff;
                    color: black;
                    z-index: 1;
                    position: relative;

                    .first {
                        padding: 1rem 0;
                        //background-color: #FF3797;
                        display: flex;
                        align-items: center;
                    }
                }

                .cover02 {
                    margin-bottom: 10rem;
                    display: flex;
                    font-size: 23px;
                    margin-top: 5vh;
                    width: 100%;
                    height: 40px;
                    transform: translate(19px, -322px) rotate(-13deg);
                    background-color: #444444;

                    .second {
                        padding: 1rem 0;
                        //background-color: #FF3797;
                        display: flex;
                        align-items: center;
                    }
                }


            }

            .ponimg01 {
                width: 30%;
                position: absolute;
                left: 9rem;
                top: 63rem;
            }

            .ponimg02 {
                width: 45%;
                position: absolute;
                left: 7rem;
                top: 88rem;
            }




        }

        .section03 {
            height: 300vh;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            overflow-x: hidden;

            .probox {
                position: relative;

                .pro {
                    top: 0rem;
                    left: 4.9rem;
                    position: absolute;
                    font-size: 70px;
                    font-family: 'the01';
                }
            }

            .container {
                padding-top: 100px;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                //gap: 30px;

                .card {
                    display: flex;
                    height: 600px;
                    width: 320px;
                    background-color: #17141d;
                    border-radius: 25px;
                    transition: 0.4s ease-out;
                    position: relative;
                    flex-direction: column;
                    padding: 30px 20px;
                    cursor: pointer;
                    margin-bottom: 30px;

                    &:hover:nth-child(1) {
                        transform: scale(1.1);
                        background-color: #0B70FE;
                        color: #17141d;
                        z-index: 1;
                        position: relative;
                    }

                    &:hover:nth-child(2) {
                        transform: scale(1.1);
                        background-color: #FF5A00;
                        color: #17141d;
                        z-index: 1;
                        position: relative;
                    }

                    &:hover:nth-child(3) {
                        transform: scale(1.1);
                        background-color: #FEC71C;
                        color: #17141d;
                        z-index: 1;
                        position: relative;
                    }

                    &:hover:nth-child(4) {
                        transform: scale(1.1);
                        background-color: #FCA5BE;
                        color: #17141d;
                        z-index: 1;
                        position: relative;
                    }

                    .cardbox {
                        display: flex;
                        height: 100%;
                        flex-direction: column;
                        justify-content: space-around;

                        .pro_title {
                            font-family: 'the01';

                            h2 {
                                font-size: 25px;
                                margin-bottom: 10px;

                                p {
                                    font-size: 20px;
                                    margin-top: 15px;

                                }
                            }
                        }

                        .datail_probox {
                            font-family: 'the02';
                            display: flex;
                            height: 30%;
                            flex-direction: column;
                            justify-content: space-around;
                        }

                        .live02 {
                            img {
                                width: 280px;
                                border-radius: 25px;
                            }
                        }
                    }

                }

            }



        }
    }
}